/* default styling is set for mobile devices, based off of "galaxy fold" */

* {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    margin: 0em;
    background-color: bisque;
}

main {
    margin: 0% 2%;
}

h1 {
    text-align: center;
    color: hsl(9, 100%, 64%);
    margin: 1% 12.5%;
    padding: 0em;
    border: 0.1em solid hsl(9, 100%, 64%);
    border-radius: 50%;
}

h2, h3, h4 {
    color: tomato;
    text-align: center;
}

/* navbar & dropdown styles */

#active-nav-section {
    border-bottom: 0.25em solid tomato;
}

.navbar ul {
    font-size: 0.75em;
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0em;
    margin: 0em;
    overflow: hidden;
    display: flex;
}

.navbar a {
    color: tomato;
    font-weight: bold;
    text-decoration: none;
    padding: 1em 0.85em;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: rgb(26, 26, 26);
}

.navbar li {
    flex-grow: 1;
}

.dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; /* Add this line */
}

.dropdown button {
    background-color: hsl(0, 0%, 25%);
    color: tomato;
    font-size: 0.75em;
    font-weight: bold;
    margin: 1em;
    padding: 1em 5.5em 1em;
    border: 0.125em solid rgb(255, 71, 71);
    border-radius: 0.5em;
}

.dropdown a {
    display: block;
    color: black;
    font-size: 0.75em;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5em 0.5em;
}

.dropdown .content {
    display: none;
    position: absolute;
    top: 85%;
    background-color: hsla(56, 80%, 76%, 0.842);
    box-shadow: 2px 2px 5px tomato;
    margin: 0em 0.9em 0.5em;
}

.dropdown:hover .content {
    display: block;
}

.dropdown:hover button {
    background-color: hsla(0, 0%, 25%, 0.486);
    color: black;
}

.dropdown a:hover {
    background-color: hsl(0, 0%, 25%);
}

#hero-band-photo {
    display: block;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}

.band-member-name-top {
    color: tomato;
    font-weight: bold;
}

#a-ha-fig-align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#take-on-me-youtube-link {
    font-size: 1em;
    padding: 1em 0em;
    margin-bottom: 1em;
    text-align: center;
    text-decoration: none;
}

#a-ha-video {
    width: 95vw;
    border-radius: 5%;
}

a {
    text-decoration: none;
}

a,
a:visited {
    color: tomato;
    font-weight: bold;
}

p {
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
}

.main-section-media {
    display: block;
    max-width: 75%;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
}

.singer-description {
    text-align: center;
}

.band-member-img {
    display: block;
    max-width: 50%;
    border-radius: 12.5%;
    margin-left: auto;
    margin-right: auto;
}

.singer-description {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#world-tour-ol {
    line-height: 1.5em;
}

#world-tour-ol li {
    margin-bottom: 1em;
    font-weight: bold;
}

.gallery {
    min-width: 75%;
    max-width: 95%;
    border-radius: 7.5%;
}

/* footer styling */

footer {
    margin: 0em 1em;
}

#contact-section-text {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

#footer-section-styling-author {
    color: tomato;
    font-weight: bold;
    text-align: center;
}

.default-text {
    color: black;
}

/* feedback-system-related styles */

#feedback-form {
    width: 100%;
    margin: 0 auto; /* This will center the form */
}

.feedback-form-label-styling {
    color: tomato;
    font-weight: bold;
    display: block; /* This will make the label take the full width of the form */
}

.feedback-form-option-styling {
    color: tomato;
    font-weight: bold;
    background-color: bisque;
}

#feedback-options {
    background-color: aliceblue;
    width: 100%; /* This will make the select box take the full width of the form */
}

input[type="text"], input[type="email"], textarea, input[type="file"] {
    width: 100%; /* This will make the input fields and textarea take the full width of the form */
}

/* media query for iPhone 14 Pro Max */
@media screen and (min-width: 428px) {
    h1 {
        margin: 1% 15.52%;
    }
}

/* media query for ipad air */
@media screen and (min-width: 820px) and (min-height: 1180px){
    h1 {
        margin: 1% 29.878%;
    }
}