/* Default styling is set for mobile devices, based off of "Galaxy Fold" */

* {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    margin: 0em;
    background-color: bisque;
}

main {
    margin: 0em 0.5em;
}

h1 {
    text-align: center;
    color: hsl(9, 100%, 64%);
    margin: 0.1em 0.1em 0.3em;
    padding: 0em;
    border: 0.1em solid hsl(9, 100%, 64%);
    border-radius: 50%;
}

h2, h3 {
    color: tomato;
    text-align: center;
}

/* navbar & dropdown styles */

.navbar ul {
    font-size: 0.75em;
    list-style-type: none;
    background-color:hsl(0, 0%, 25%);
    padding: 0em;
    margin: 0em;
    overflow: hidden;
}

.navbar a {
    color: tomato;
    font-weight: bold;
    text-decoration: none;
    padding: 1em 0.85em;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: hsl(0%, 0%, 10%);
}

.navbar li {
    float: left;
}

.dropdown button {
    background-color:hsl(0, 0%, 25%);
    color: tomato;
    font-size: 0.75em;
    font-weight: bold;
    margin: 1em;
    padding: 1em 5.5em 1em;
    border: 0.125em solid rgb(255, 71, 71);
    border-radius: 0.5em;
}

.dropdown a {
    display: block;
    color: black;
    font-size: 0.75em;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5em 0.5em;
}

.dropdown .content {
    display: none;
    position: absolute;
    background-color: hsla(56, 80%, 76%, 0.842);
    box-shadow: 2px 2px 5px tomato;
    margin: 0em 0.9em 0.5em;
}

.dropdown:hover .content {
    display: block;
}

.dropdown:hover button {
    background-color:hsla(0, 0%, 25%, 0.486);
    color: black;
}

.dropdown a:hover {
    background-color:hsl(0, 0%, 25%);
}

#hero-band-photo {
    width: 94vw;
    border-radius: 12.5%;
}

#band-member-name-top {
    color: tomato;
    font-weight: bold;
}

#take-on-me-youtube-link {
    padding: 1em 0.5em;
    margin-bottom: 1em;
    text-align: center;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a, a:visited {
    color: tomato;
    font-weight: bold;
}

p {
    line-height: 1.5em;
    text-align: justify;
}

#main-section-media {
    width: 95vw;
    border-radius: 12.5%;
}

#band-member-img {
    width: 95vw;
    border-radius: 12.5%;
}

#world-tour-ol {
    line-height: 1.5em;
}

#world-tour-ol li {
    margin-bottom: 1em;
    font-weight: bold;
}

/* footer styling */

footer {
    margin: 0em 1em;
}

#contact-section-text {
    font-size: 1em;
    text-align: center;
    text-decoration: none;
}

#footer-section-styling-author {
    color: tomato;
    font-weight: bold;
}


/* TO-DO: adjust viewwidth in media query for larger screens, some images are too stretched */

.gallery-media {
    width: 95vw;
    border-radius: 7.5%;
}

/* feedback-system-related styles */

.feedback-form-label-styling {
    color: tomato;
    font-weight: bold;
}

.feedback-form-option-styling {
    color: tomato;
    font-weight: bold;
    background-color: bisque;
}

#feedback-options {
    background-color: aliceblue;
}

/* Media Queries */

@media screen and (min-width: 600px) {
    .navbar ul {
        font-size: 1.5em;
    }
    
    .navbar a {
        padding: 1em 2em;
    }

    #text-align-center {
        text-align: center;
    }

    #take-on-me-youtube-link {
        font-size: 1.2em;
        line-height: 1.5em;
    }

    #main-section-media {
        display: block;
        margin: 0 auto;
        width: 50vw;
        border-radius: 5%;
    }
    
    #singer-description {
        text-align: center;
    }

    #band-member-img {
        display: block;
        margin: 0 auto;
        width: 50vw;
        border-radius: 5%;
    }
}